p
{
   font-family : 'K2D', sans-serif;
   color: white;
}
body
 {
  background-color: #2A0238;
  text-align : center;
}
blockquote
{
  background-color: #9B73A9;
  padding : 10px;
  width : 200px;
  margin : auto;
  font-family : 'K2D', sans-serif;
  font-style: bold;
  color: black;

}
.wrap
{
  width : 1000px;
  margin : auto;
  border: 20px solid;
  border-radius: 20px;
  padding: 20px;
  color : #9B73A9;
}

.font-h1
{
  font-family: 'Lobster', cursive;
  font-size : 80px ;
  text-align : center;
  color : #9B73A9;
}

.font-h2
{
  font-family: 'Kodchasan', cursive;
  font-size : 40px ;
  text-align : left;
  color : #9B73A9;
}

canvas
{
  border : 10px solid;
  margin-left : 500px;
}
