html, body {
padding : 0;
margin : 0;
}

.premierePartie {
  background-color: #FDFBF9;
  width: 100%;
  height: 680px;
  position : absolute;
  top: 0;
}

/*header*/
#menu {
background-color: #921F5A;
width: 100%;
height: 100px;
margin-top: 50px;
}

#menu a{
  font-family: 'Bitter', serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-left: 120px;
  margin-right: 100px;
}

#menu li {
 display: inline-block ;
}

#menu ul {
 width: 1000px;
 margin-left: 238px;
 position: absolute;
 top : 79px;

}
#menu img {
  position : absolute;
  top : 0;
  width: 240px;
  margin-left: 40px;
}

/*première partie about*/

h2 {
  position: absolute;
  margin-top: 80px;
  margin-left: 440px;
  font-family: 'Fascinate Inline', cursive;
  font-size: 16px;
  color : black;
  width : auto;
}
.textabout {
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  margin-top: 100px;
  margin-left: 40px;
  text-align : justify;
  align-items : center;
}


.textabout p {
  font-family : 'bitter', serif;
  font-size: 14px;
  color : black;
  width: 550px;
  line-height: 19px;
}

.textabout img {
  width: 400px;
}

/*deuxième partie equipe*/

/*esthétique*/
.deuxiemePartie {
  background-color: #921F5A;
  width: 100%;
  height: 680px;
  margin-top: 680px;
}

/*grille*/
 .teamgrid {
  overflow : auto;
  position : absolute;
  display : grid;
  grid-template-columns: 25% 25% 25% ;
  grid-template-rows: 195px 362px 123px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.titleteam {
  font-family:'Fascinate Inline', cursive;
  font-size : 120px;
  color : black;
  margin-top: 20px;
  text-decoration: underline;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row : 1;
  place-self: center;
}


.womanOne {
  clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
  grid-column: 1;
  grid-row: 2;
  place-self : center;
  padding-bottom: 30px;
}

.womanTwo {
  width: 300px;
  clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
  grid-column: 2;
  grid-row: 2;
  justify-self : center;
  align-self: center;
  padding-bottom: 30px;
}

.womanThree {
clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
grid-column: 3;
grid-row: 2;
place-self : center;
padding-bottom: 30px;
}

.description{
  font-family : 'bitter', serif;
  font-size: 20px;
  color : black;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
  place-self : center;
  justify-content: center;
  text-align: center;
}

/*troisieme partie français*/
.troisiemePartie {

  background-color: #FDFBF9;
  width: 100%;
  height: 680px;
  padding-top: 20px;
}

.troisiemePartie h1 {
  font-family:'Fascinate Inline', cursive;
  font-size : 60px;
  color : #921F5A;
  text-align : center;
  margin-top : 0;

}

.frenchdescript {
  position : absolute;
  width: 500px;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom : 100px;
  text-align : justify;
  align-items : center;
  font-family : 'bitter', serif;
  font-size: 14px;
  color : black;
  line-height: 19px;
}



.wordcloud img {
  position : absolute;
  width: 800px;
  margin-left: 500px;
  margin-bottom : 100px;

}

footer {
  background-image: url("assets/vlad-tchompalov-219130-unsplash.jpg");
  background-size: cover;
  opacity : 0.8;
  margin-top : 400px;
  justify-content : space-between;
  height: 185px;
  width: 100%;
}

.dimensionfooter p {
  position : absolute;
  font-family : 'bitter', serif;
  font-size: 14px;
  color : white;
  width: 550px;
  line-height: 19px;
  margin-left: 100px;
  margin-top : 50px;
}
